.playing-card {
  position: relative;
  z-index: 1;
  display: inline-block !important; /* why is !important required here? */
  width: 85px;
  height: 123px;
}
.playing-card.visible {
  /* opacity: 0.5; */
}
.playing-card.solid,
.playing-card.playable {
  /* opacity: 1; */
}
.playing-card.visible.playable:hover {
  margin-top: -35px;
}

.playing-card > .suit {
  display: inline-block;
}

.playing-card > .face {
  display: inline-block;
}

/* stacking effect */
.hand > .playing-card:nth-of-type(1) { z-index: 1; }
.hand > .playing-card:nth-of-type(2) { z-index: 2; }
.hand > .playing-card:nth-of-type(3) { z-index: 3; }
.hand > .playing-card:nth-of-type(4) { z-index: 4; }
.hand > .playing-card:nth-of-type(5) { z-index: 5; }
.hand > .playing-card:nth-of-type(6) { z-index: 6; }
.hand > .playing-card:nth-of-type(7) { z-index: 7; }
.hand > .playing-card:nth-of-type(8) { z-index: 8; }
.hand > .playing-card:nth-of-type(9) { z-index: 9; }
.hand > .playing-card:nth-of-type(10) { z-index: 10; }
.hand > .playing-card:nth-of-type(11) { z-index: 11; }
.hand > .playing-card:nth-of-type(12) { z-index: 12; }
.hand > .playing-card:nth-of-type(13) { z-index: 13; }
.hand > .playing-card:nth-of-type(14) { z-index: 14; }
.hand > .playing-card:nth-of-type(15) { z-index: 15; }
.hand > .playing-card:nth-of-type(16) { z-index: 16; }
.hand > .playing-card:nth-of-type(17) { z-index: 17; }
.hand > .playing-card:nth-of-type(18) { z-index: 18; }
.hand > .playing-card:nth-of-type(19) { z-index: 19; }
.hand > .playing-card:nth-of-type(20) { z-index: 20; }
.hand > .playing-card:nth-of-type(21) { z-index: 21; }
.hand > .playing-card:nth-of-type(22) { z-index: 22; }
.hand > .playing-card:nth-of-type(23) { z-index: 23; }
.hand > .playing-card:nth-of-type(24) { z-index: 24; }
.hand > .playing-card:nth-of-type(25) { z-index: 25; }
.hand > .playing-card:nth-of-type(26) { z-index: 26; }
.hand > .playing-card:nth-of-type(27) { z-index: 27; }
.hand > .playing-card:nth-of-type(28) { z-index: 28; }
.hand > .playing-card:nth-of-type(29) { z-index: 29; }
.hand > .playing-card:nth-of-type(30) { z-index: 30; }
.hand > .playing-card:nth-of-type(31) { z-index: 31; }
.hand > .playing-card:nth-of-type(32) { z-index: 32; }
.hand > .playing-card:nth-of-type(33) { z-index: 33; }
.hand > .playing-card:nth-of-type(34) { z-index: 34; }
.hand > .playing-card:nth-of-type(35) { z-index: 35; }
.hand > .playing-card:nth-of-type(36) { z-index: 36; }
.hand > .playing-card:nth-of-type(37) { z-index: 37; }
.hand > .playing-card:nth-of-type(38) { z-index: 38; }
.hand > .playing-card:nth-of-type(39) { z-index: 39; }
.hand > .playing-card:nth-of-type(40) { z-index: 40; }
.hand > .playing-card:nth-of-type(41) { z-index: 41; }
.hand > .playing-card:nth-of-type(42) { z-index: 42; }
.hand > .playing-card:nth-of-type(43) { z-index: 43; }
.hand > .playing-card:nth-of-type(44) { z-index: 44; }
.hand > .playing-card:nth-of-type(45) { z-index: 45; }
.hand > .playing-card:nth-of-type(46) { z-index: 46; }
.hand > .playing-card:nth-of-type(47) { z-index: 47; }
.hand > .playing-card:nth-of-type(48) { z-index: 48; }
.hand > .playing-card:nth-of-type(49) { z-index: 49; }
.hand > .playing-card:nth-of-type(50) { z-index: 50; }
.hand > .playing-card:nth-of-type(51) { z-index: 51; }
.hand > .playing-card:nth-of-type(52) { z-index: 52; }
.hand > .playing-card:nth-of-type(53) { z-index: 53; }
.hand > .playing-card:nth-of-type(54) { z-index: 54; }

