

.hands-group {
  position: relative;
  bottom: -17.5em;
  left: -10.75em;
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
  -ms-transform: rotate(-4deg);
  transform: rotate(-4deg);
}

ul.hand {
  position: fixed;
  z-index: 5;
  font-size: 2.5em;
}

.hand:nth-of-type(1) {
  bottom: -2em;
}
.hand:nth-of-type(2) {
  top: -14.65em;
  right: -3.5em;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.hand:nth-of-type(3) {
  top: -12.5em;
  right: -7.5em;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.hand:nth-of-type(4) {
  top: -7em;
  right: -4em;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}


/* https://github.com/selfthinker/CSS-Playing-Cards */
/* selected and hover state */
ul.hand strong .card,
ul.hand > li.swapped,
ul.hand > li.playable:hover {
  margin-top: -0.5em;
  padding-bottom: 0.5em;
}

ul.deck { position: absolute; }


ul.table,
ul.hand,
ul.deck {
    list-style-type: none;
    padding: 0;
    margin: 0 0 1.5em 0;
    /* position: relative; */
    clear: both;
}
ul.hand {
    margin-bottom: 3.5em;
}
ul.table > li,
ul.hand > li,
ul.deck > li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: left;
}

ul.hand,
ul.deck {
    height: 8em;
}
ul.hand > li,
ul.deck > li {
    position: absolute;
}
ul.hand > li {
    bottom: 0;
}

ul.hand > li.dim::after,
ul.hand > li.swapped::after {
  content:'';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 175%;
  height: 96%;
  border-radius: 10px;
  background: rgba(0, 0, 0, .6);
}
ul.hand > li.swapped::after {
  height: calc(100% - 0.5em);
}

ul.deck > li:nth-of-type(odd) img {
  border: 1px solid gray;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

ul.hand.played {
  position: absolute;
  top: -13.5em;
  left: 1.25em;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
}
@media (min-width: 1024px) {
  ul.hand.played {
    top: -16.5em;
  }
}
@media (max-width: 1023px) {
  ul.hand > li.dim::after,
  ul.hand > li.swapped::after {
    width: 283%;
    border-radius: 6px;
  }
  /* 
  May need to do this for raised cards of smaller size too
  ul.hand > li.swapped::after {
    height: calc(100% - 0.5em);
  }
  */
}




/* animate taken tricks */

ul.hand.played.trick-taken {
  transition-delay: 0.5s;
  transition: all 0.5s ease-in-out;
}


ul.hand.played.trick-taken.trick-taken-direction-0 { /* down */
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -o-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  transform: translateY(100vh);
}
ul.hand.played.trick-taken.trick-taken-direction-1 { /* left */
  -webkit-transform: translateX(-100vw);
  -moz-transform: translateX(-100vw);
  -o-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
}
ul.hand.played.trick-taken.trick-taken-direction-2 { /* up */
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
ul.hand.played.trick-taken.trick-taken-direction-3 { /* right */
  -webkit-transform: translateX(100vw);
  -moz-transform: translateX(100vw);
  -o-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
}


/* rotate cards if rotateHand option is on */

/* 2 card hand */

ul.hand.cards-2 > li:nth-child(1)  { left: 0; }
ul.hand.cards-2 > li:nth-child(2)  { left: 1.1em; }

ul.hand.cards-2 > li:nth-child(1) {
  -moz-transform: translate(.3em, .1em) rotate(-6deg);
  -webkit-transform: translate(.3em, .1em) rotate(-6deg);
  -o-transform: translate(.3em, .1em) rotate(-6deg);
  transform: translate(.3em, .1em) rotate(-6deg);
}
ul.hand.cards-2 > li:nth-child(2),
.played > .playing-card:nth-child(1)  {
  -moz-transform: translate(-.1em, .1em) rotate(3deg);
  -webkit-transform: translate(-.1em, .1em) rotate(3deg);
  -o-transform: translate(-.1em, .1em) rotate(3deg);
  transform: translate(-.1em, .1em) rotate(3deg);
}

/* 4 card hand */

ul.hand.cards-4 > li:nth-child(1)  { left: 0; }
ul.hand.cards-4 > li:nth-child(2)  { left: 1.1em; }
ul.hand.cards-4 > li:nth-child(3)  { left: 2.2em; }
ul.hand.cards-4 > li:nth-child(4)  { left: 3.3em; }

ul.hand.cards-4 > li:nth-child(1),
.played > .playing-card:nth-child(1)  {
  -moz-transform: translate(.7em, .2em) rotate(-15deg);
  -webkit-transform: translate(.7em, .2em) rotate(-15deg);
  -o-transform: translate(.7em, .2em) rotate(-15deg);
  transform: translate(.7em, .2em) rotate(-15deg);
}
ul.hand.cards-4 > li:nth-child(2),
.played > .playing-card:nth-child(1)  {
  -moz-transform: translate(.3em, .1em) rotate(-6deg);
  -webkit-transform: translate(.3em, .1em) rotate(-6deg);
  -o-transform: translate(.3em, .1em) rotate(-6deg);
  transform: translate(.3em, .1em) rotate(-6deg);
}
ul.hand.cards-4 > li:nth-child(3),
.played > .playing-card:nth-child(2)  {
  -moz-transform: translate(-.1em, .1em) rotate(3deg);
  -webkit-transform: translate(-.1em, .1em) rotate(3deg);
  -o-transform: translate(-.1em, .1em) rotate(3deg);
  transform: translate(-.1em, .1em) rotate(3deg);
}
ul.hand.cards-4 > li:nth-child(4),
.played > .playing-card:nth-child(3)  {
  -moz-transform: translate(-.5em, .2em) rotate(12deg);
  -webkit-transform: translate(-.5em, .2em) rotate(12deg);
  -o-transform: translate(-.5em, .2em) rotate(12deg);
  transform: translate(-.5em, .2em) rotate(12deg);
}

/* 6 card hand */
ul.hand.cards-6 > li:nth-child(1)  { left: 0; }
ul.hand.cards-6 > li:nth-child(2)  { left: 1.1em; }
ul.hand.cards-6 > li:nth-child(3)  { left: 2.2em; }
ul.hand.cards-6 > li:nth-child(4)  { left: 3.3em; }
ul.hand.cards-6 > li:nth-child(5)  { left: 4.4em; }
ul.hand.cards-6 > li:nth-child(6)  { left: 5.5em; }

ul.hand.cards-6 > li:nth-child(1) {
  -moz-transform: translate(1.1em, .3em) rotate(-20deg);
  -webkit-transform: translate(1.1em, .3em) rotate(-20deg);
  -o-transform: translate(1.1em, .3em) rotate(-20deg);
  transform: translate(1.1em, .3em) rotate(-20deg);
}
ul.hand.cards-6 > li:nth-child(2),
.played > .playing-card:nth-child(1)  {
  -moz-transform: translate(.7em, .2em) rotate(-15deg);
  -webkit-transform: translate(.7em, .2em) rotate(-15deg);
  -o-transform: translate(.7em, .2em) rotate(-15deg);
  transform: translate(.7em, .2em) rotate(-15deg);
}
ul.hand.cards-6 > li:nth-child(3),
.played > .playing-card:nth-child(2)  {
  -moz-transform: translate(.3em, .1em) rotate(-6deg);
  -webkit-transform: translate(.3em, .1em) rotate(-6deg);
  -o-transform: translate(.3em, .1em) rotate(-6deg);
  transform: translate(.3em, .1em) rotate(-6deg);
}
ul.hand.cards-6 > li:nth-child(4),
.played > .playing-card:nth-child(3)  {
  -moz-transform: translate(-.1em, .1em) rotate(3deg);
  -webkit-transform: translate(-.1em, .1em) rotate(3deg);
  -o-transform: translate(-.1em, .1em) rotate(3deg);
  transform: translate(-.1em, .1em) rotate(3deg);
}
ul.hand.cards-6 > li:nth-child(5),
.played > .playing-card:nth-child(4)  {
  -moz-transform: translate(-.5em, .2em) rotate(12deg);
  -webkit-transform: translate(-.5em, .2em) rotate(12deg);
  -o-transform: translate(-.5em, .2em) rotate(12deg);
  transform: translate(-.5em, .2em) rotate(12deg);
}
ul.hand.cards-6 > li:nth-child(6)  {
  -moz-transform: translate(-.9em, .3em) rotate(21deg);
  -webkit-transform: translate(-.9em, .3em) rotate(21deg);
  -o-transform: translate(-.9em, .3em) rotate(21deg);
  transform: translate(-.9em, .3em) rotate(21deg);
}
ul.hand.cards-13 > li:nth-child(1) {
  -moz-transform: translate(1.9em, .9em) rotate(-42deg);
  -webkit-transform: translate(1.9em, .9em) rotate(-42deg);
  -o-transform: translate(1.9em, .9em) rotate(-42deg);
  transform: translate(1.9em, .9em) rotate(-42deg);
}
ul.hand.cards-13 > li:nth-child(2) {
  -moz-transform: translate(1.5em, .5em) rotate(-33deg);
  -webkit-transform: translate(1.5em, .5em) rotate(-33deg);
  -o-transform: translate(1.5em, .5em) rotate(-33deg);
  transform: translate(1.5em, .5em) rotate(-33deg);
}
ul.hand.cards-13 > li:nth-child(3) {
  -moz-transform: translate(1.1em, .3em) rotate(-24deg);
  -webkit-transform: translate(1.1em, .3em) rotate(-24deg);
  -o-transform: translate(1.1em, .3em) rotate(-24deg);
  transform: translate(1.1em, .3em) rotate(-24deg);
}
ul.hand.cards-13 > li:nth-child(4) {
  -moz-transform: translate(.7em, .2em) rotate(-15deg);
  -webkit-transform: translate(.7em, .2em) rotate(-15deg);
  -o-transform: translate(.7em, .2em) rotate(-15deg);
  transform: translate(.7em, .2em) rotate(-15deg);
}
ul.hand.cards-13 > li:nth-child(5) {
  -moz-transform: translate(.3em, .1em) rotate(-6deg);
  -webkit-transform: translate(.3em, .1em) rotate(-6deg);
  -o-transform: translate(.3em, .1em) rotate(-6deg);
  transform: translate(.3em, .1em) rotate(-6deg);
}
ul.hand.cards-13 > li:nth-child(6) {
  -moz-transform: translate(-.1em, .1em) rotate(3deg);
  -webkit-transform: translate(-.1em, .1em) rotate(3deg);
  -o-transform: translate(-.1em, .1em) rotate(3deg);
  transform: translate(-.1em, .1em) rotate(3deg);
}
ul.hand.cards-13 > li:nth-child(7) {
  -moz-transform: translate(-.5em, .2em) rotate(12deg);
  -webkit-transform: translate(-.5em, .2em) rotate(12deg);
  -o-transform: translate(-.5em, .2em) rotate(12deg);
  transform: translate(-.5em, .2em) rotate(12deg);
}
ul.hand.cards-13 > li:nth-child(8) {
  -moz-transform: translate(-.9em, .3em) rotate(21deg);
  -webkit-transform: translate(-.9em, .3em) rotate(21deg);
  -o-transform: translate(-.9em, .3em) rotate(21deg);
  transform: translate(-.9em, .3em) rotate(21deg);
}
ul.hand.cards-13 > li:nth-child(9) {
  -moz-transform: translate(-1.3em, .6em) rotate(30deg);
  -webkit-transform: translate(-1.3em, .6em) rotate(30deg);
  -o-transform: translate(-1.3em, .6em) rotate(30deg);
  transform: translate(-1.3em, .6em) rotate(30deg);
}
ul.hand.cards-13 > li:nth-child(10) {
  -moz-transform: translate(-1.7em, 1em) rotate(39deg);
  -webkit-transform: translate(-1.7em, 1em) rotate(39deg);
  -o-transform: translate(-1.7em, 1em) rotate(39deg);
  transform: translate(-1.7em, 1em) rotate(39deg);
}
ul.hand.cards-13 > li:nth-child(11) {
  -moz-transform: translate(-2.2em, 1.5em) rotate(48deg);
  -webkit-transform: translate(-2.2em, 1.5em) rotate(48deg);
  -o-transform: translate(-2.2em, 1.5em) rotate(48deg);
  transform: translate(-2.2em, 1.5em) rotate(48deg);
}
ul.hand.cards-13 > li:nth-child(12) {
  -moz-transform: translate(-2.8em, 2.1em) rotate(57deg);
  -webkit-transform: translate(-2.8em, 2.1em) rotate(57deg);
  -o-transform: translate(-2.8em, 2.1em) rotate(57deg);
  transform: translate(-2.8em, 2.1em) rotate(57deg);
}
ul.hand.cards-13 > li:nth-child(13) {
  -moz-transform: translate(-3.5em, 2.8em) rotate(66deg);
  -webkit-transform: translate(-3.5em, 2.8em) rotate(66deg);
  -o-transform: translate(-3.5em, 2.8em) rotate(66deg);
  transform: translate(-3.5em, 2.8em) rotate(66deg);
}